
<!-- <div styles="padding:5px">
    <ul class="nav nav-tabs">
        <li routerLinkActive="active">
            <a routerLink="login">LOGIN</a>
        </li> &nbsp; &nbsp;&nbsp; &nbsp; -->
        <!-- <li routerLinkActive="active">
            <a routerLink="signup">Sign-up</a>
        </li>&nbsp; &nbsp;&nbsp; &nbsp; -->
        <!-- <li routerLinkActive="active">
            <a routerLink="task">Task Creation</a>
        </li>&nbsp; &nbsp;&nbsp; &nbsp;
        <li routerLinkActive="active">
            <a routerLink="emp">Employee Details</a>
        </li> -->
    <!-- </ul>
    <br/> -->
    <router-outlet></router-outlet>
<!-- </div> -->
    